# Compiled Java
*.class
bin/

# Eclipse
.classpath
.project
.settings/

# GWT
gwt-unitCache/
*.gwt.rpc
*.symbolMap
war/WEB-INF/deploy/

# Compiled GWT output
war/telephony/

# Compiled classes & resources
war/WEB-INF/classes/

# Copied libraries at build time
war/WEB-INF/lib/

# Built WAR archive
*.war

# Logs
*.log